<div id="Relogio">
  <p id="Timer"> 0{{minutos}} : {{segundos2}}{{segundos}}</p>
  <p id="Texto">Enquanto você estava no site,</p>
  <strong>{{this.mulheres}} </strong>
  <p div *ngIf="this.mulheres <=1 then content else content2"></p>
  <ng-template #content>Mulher foi estuprada!</ng-template>
  <ng-template #content2>Mulheres foram estupradas!</ng-template>
  <div id="Identificar">
    <h3>Como identificar uma mulher que está sofrendo violência doméstica?</h3>
    <p>1) Demonstração de grande tristeza ou depressão.</p>
    <p>2) Mulher fica mais fechada e passa a falar menos.</p>
    <p>3) As conversas sobre o cotidiano também desaparecem.</p>
    <p>4) Repentinamente deixa de ter vida social.</p>
    <p>5) Evita visitas e também a companhia de amigos e parentes.</p>
    <p>6) Sua aparência torna-se mais desleixada.</p>
    <p>7) As ausências no trabalho tornam-se mais frequentes.</p>
  </div>
</div>
